<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Отчет по количеству заявок</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table.report {
      margin-left: auto;
      margin-right: auto;
    }
    table.report .description {
      text-align: left;
    }
    table.report .parameter {
      text-align: right;
    }
    table.report .total {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1 style="color:blue;text-align:center;">Отчет по количеству заявок</h1>
  <h2 style="color:green;text-align:center;">за период {{ start_date }} - {{ end_date }}</h2>


  <table class="report">
    <tr>
      <th class="description">Клиент</th>
      <th class="parameter">Количество заявок</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td class="description">{{ order.client__name }} ({{ order.client }})</td>
        <td class="parameter">{{ order.num_orders }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="description total">Всего:</td>
      <td class="parameter total">{{ orders_quantity }}</td>
    </tr>
  </table>
</body>
</html>
