<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>PHP support</title>
  <style>
    .paragraph {
      text-align:center;
    }
  </style>
</head>

<body>
  <h1 style="color:blue;text-align:center;">PHP support</h1>
  <p class="paragraph"><a href="/admin/">Админка</a></p>
  <p class="paragraph">
    Отчет по количеству заявок:
      <a href="/orders_quantity_report/0">этот месяц</a>
      <a href="/orders_quantity_report/1">прошлый месяц</a>
  </p>
  <p class="paragraph">
    Отчет по зарплате подрядчиков:
      <a href="/subcontractors_wages_report/0">этот месяц</a>
      <a href="/subcontractors_wages_report/1">прошлый месяц</a>
  </p>
</body>
</html>
